[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.68.0"
uvicorn = "0.14.0"
aiofiles = "0.7.0"
aiojobs = "0.3.0"
async-timeout = "3.0.1"

[dev-packages]

[requires]
python_version = "3.9"
